.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-direction: column;
}

.vote_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.vote_message__good {
  text-align: center;
  margin-top: 1em;
  color: green;
}

.vote_message__bad {
  text-align: center;
  margin-top: 1em;
  color: red;
}